.env*
venv/
__pycache__/
*.pyc
instance/
.DS_Store
*.sqlite3
*.log
.idea/
.vscode/
coverage
htmlcov/
.pytest_cache/  
migrations/
*.egg-info/
dist/
build/
*.egg
*.log
*.pot
*.mo
*.swp
*.swo
*.bak
*.tmp
*.orig
*.rej  
*.class
*.jar
*.war